.product-details-img {
    &.product-details-tab {
        &.product-details-tab-2 {
            &.product-details-tab-3 {
                flex-direction: row-reverse;
            }
            & .zoom-thumbs-2 {
                flex: 0 0 15%;
                width: 15%;
            }
            & .zoom-top-2 {
                flex: 0 0 85%;
                width: 85%;
            }
        }
    }
}

.zoom-thumbs-2 {
    display: inline-block;
    float: left;
    text-align: center;
    & .swiper-slide {
        & img {
            transition: $baseTransition;
            border: 2px solid #e1e1e1;
            border-radius: 10px;
        }
        &:hover {
            & img {
                border-color: $theme-color;
            }
        }
        &.swiper-slide-thumb-active {
            & img {
                border-color: $theme-color;
            }
        }
        .img-responsive {
            width: auto;
        }
    }
}

.small-nav {
    .swiper-wrapper {
        .swiper-slide {
            height: 144px;
            @media #{$desktop-device} {
                height: 75px;
            }
            @media #{$tablet-device} {
                max-width: 150px;
                height: 149px;
            }
            @media #{$large-mobile} {
                height: 113px;
            }
            @media #{$extra-small-mobile} {
                height: 90px;
            }
        }
    }
}

.zoom-top {
    & .swiper-wrapper {
        & .swiper-slide {
            max-width: 550px;
            height: 550px;
            @media #{$laptop-device} {
                height: 470px;
            }
            @media #{$desktop-device} {
                height: 370px;
            }
            @media #{$tablet-device} {
                max-width: 690px;
                height: 690px;
            }
            @media #{$large-mobile} {
                height: 510px;
            }
            @media #{$extra-small-mobile} {
                height: 440px;
            }
        }
    }
}
